<div class="editor--notebooks">
    <select class="icons form-control editor--notebooks--list" name="notebookId">
        <optgroup label="{{_.i18n('Action')}}">
            <option class="addNotebook" value="">
                {{_.i18n('notebooks.add')}}
            </option>

            <option value="0">
                {{_.i18n('Select notebook')}}
            </option>
        </optgroup>

        <optgroup label="{{_.i18n('Notebooks')}}" class="editor--notebooks--select">
        </optgroup>
    </select>
</div>
