<div class="modal-dialog"><div class="modal-content modal-settings">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">{{ i18n('Settings') }}</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#basic" data-toggle="tab">{{ i18n('Basic') }}</a></li>
            <li><a href="#shortcuts" data-toggle="tab">{{ i18n('Shortcuts') }}</a></li>
            <li><a href="#other" data-toggle="tab">{{ i18n('Other') }}</a></li>
            <li><a href="#profiles" data-toggle="tab">{{ i18n('Profiles') }}</a></li>
        </ul>
    </div>
    <div class="modal-body">
        <form action="#" class="form-horizontal" method="post">
            <div class="tab-content">
                <div class="tab-pane active" id="basic">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="appLang">
                            <i class="fa fa-cloud"></i> {{ i18n('Language') }}
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control" name="appLang" id="appLang">
                                <option value="en"<%if(models.appLang === 'en'){ %> selected<% } %>>{{ i18n('en') }}</option>
                                <option value="ru"<%if(models.appLang === 'ru'){ %> selected<% } %>>{{ i18n('ru') }}</option>
                                <option value="nl"<%if(models.appLang === 'nl'){ %> selected<% } %>>{{ i18n('nl') }}</option>
                                <option value="fr"<%if(models.appLang === 'fr'){ %> selected<% } %>>{{ i18n('fr') }}</option>
                                <option value="pt_br"<%if(models.appLang === 'pt_br'){ %> selected<% } %>>{{ i18n('pt_br') }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cloudStorage">
                            <i class="fa fa-cloud"></i> {{ i18n('Cloud storage') }}
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control" name="cloudStorage" id="cloudStorage">
                                <option value="0">{{ i18n('No') }}</option>
                                <option value="dropbox"<%if(models.cloudStorage === 'dropbox'){ %> selected<% } %>>Dropbox</option>
                                <option value="remotestorage"<%if(models.cloudStorage === 'remotestorage'){ %> selected<% } %>>RemoteStorage</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="pagination">{{ i18n('Notes per page') }}</label>
                        <div class="col-sm-10">
                            <input type="text" id="pagination" name="pagination" value="{{models.pagination}}" class="form-control" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="sortnotebooks">{{ i18n('Sort notebooks') }}</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="sortnotebooks" checked="{{models.sortnotebooks}}">
                                <option value="name">{{ i18n('Name') }}</option>
                                <option value="id" <%if(models.sortnotebooks === 'id'){%>selected<%}%>>{{ i18n('Created') }}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ i18n('Default edit mode') }}</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="editMode" checked="{{models.editMode}}">
                                <option value="normal">{{ i18n('Normal') }}</option>
                                <option value="fullscreen" <%if(models.editMode === 'fullscreen'){%>selected<%}%>>{{ i18n('Fullscreen') }}</option>
                                <option value="preview" <%if(models.editMode === 'preview'){%>selected<%}%>>{{ i18n('Fullscreen with preview') }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="useEncryption">{{ i18n('Use encryption') }}</label>
                        <div class="col-sm-10 checkbox">
                             <label class="control-label">
                                 <input id="useEncryption" class="showField" data-field="#encryptOpt" type="checkbox" name="encrypt" <% if(models.encrypt === 1) { %> checked<% } %> >
                                 {{ i18n('Yes') }}
                             </label>
                        </div>
                    </div>
                    <fieldset id="encryptOpt" class="<% if(models.encrypt === 0) { %>hidden<% } %>">
                        <legend>{{ i18n('Encryption parameters') }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Encryption Password') }}</label>
                            <div class="col-sm-10">
                                <input type="password" name="encryptPass" value="{{models.encryptPass}}" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Salt') }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="encryptSalt" value="{{models.encryptSalt}}" class="form-control" >
                                <a id="randomize" href="#">{{ i18n('Random') }}</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Strengthen by a factor of') }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="encryptIter" value="{{models.encryptIter}}" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Key size') }}</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="encryptKeySize">
                                    <option value="128"<%if(models.encryptKeySize === '128'){ %> selected<% } %>>128</option>
                                    <option value="192"<%if(models.encryptKeySize === '192'){ %> selected<% } %>>192</option>
                                    <option value="256"<%if(models.encryptKeySize === '256'){ %> selected<% } %>>256</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Authentication strength') }}</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="encryptTag">
                                    <option value="64"<%if(models.encryptTag === '64'){ %> selected<% } %>>64</option>
                                    <option value="96"<%if(models.encryptTag === '96'){ %> selected<% } %>>96</option>
                                    <option value="128"<%if(models.encryptTag === '128'){ %> selected<% } %>>128</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="tab-pane" id="shortcuts"><!-- {{ shortcuts -->
                    <fieldset>
                        <legend>{{ i18n('Navigation') }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Top') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.navigateTop}}" name="navigateTop" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Bottom') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.navigateBottom}}" name="navigateBottom" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ i18n('Jump') }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Go to inbox') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.jumpInbox}}" name="jumpInbox"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Go to notebook list') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.jumpNotebook}}" name="jumpNotebook"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Go to favourite notes') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.jumpFavorite}}" name="jumpFavorite"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Go to removed notes') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.jumpRemoved}}" name="jumpRemoved"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ i18n('Actions') }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Edit') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.actionsEdit}}" name="actionsEdit"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Open') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.actionsOpen}}" name="actionsOpen"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Remove') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.actionsRemove}}" name="actionsRemove"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Rotate Star') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.actionsRotateStar}}" name="actionsRotateStar"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ i18n('App') }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Create new note') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.appCreateNote}}" name="appCreateNote"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Search note') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.appSearch}}" name="appSearch"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ i18n('Keyboard help') }}</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.appKeyboardHelp}}" name="appKeyboardHelp"/>
                            </div>
                        </div>
                    </fieldset>
                </div><!-- }} shortcuts -->
                <div class="tab-pane" id="other"><!-- {{ other -->
                    <div class="center-block">
                        <input id="import-file" class="hide" type="file">
                        <button id="do-import" type="button" class="btn btn-default btn-block">
                            <i class="icon-cog"></i> {{ i18n('Import settings') }}
                        </button>
                        <button id="do-export" type="button" class="btn btn-default btn-block">
                            <i class="icon-cog"></i> {{ i18n('Export settings') }}
                        </button>
                    </div>
                </div><!-- }} other -->
                <div class="tab-pane" id="profiles">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ i18n('Profile name') }}</th>
                                <th width="5%">{{ i18n('Action') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% _.forEach (models.appProfiles, function (profile) { %>
                            <tr>
                                <td>{{ profile }}</td>
                                <td>
                                    <% if (profile !== 'notes-db') { %>
                                    <button class="btn btn-link removeProfile" data-profile="{{ profile }}"><i class="icon-trashed"></i></button>
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>
                        <tr>
                            <td>
                                <input type="text" id="profileName" class="form-control" placeholder="Type profile name"/>
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div><!-- /.modal-body -->
    <div class="modal-footer">
        <button type="button" class="btn btn-success ok">{{ i18n('Save') }}</button>
        <button type="button" class="btn btn-default cancelBtn" data-dismiss="modal">{{ i18n('Cancel') }}</button>
    </div>
</div></div>
