<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            <a class="btn btn-danger ok" href="#">Close</a>
        </h4>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Shortcut</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Navigate Top</td>
                    <td>{{ shortcuts.navigateTop }}</td>
                </tr>
                <tr>
                    <td>Navigate Bottom</td>
                    <td>{{ shortcuts.navigateBottom }}</td>
                </tr>
                <tr>
                    <td>Jump to Inbox</td>
                    <td>{{ shortcuts.jumpInbox }}</td>
                </tr>
                <tr>
                    <td>Jump to Notebook list</td>
                    <td>{{ shortcuts.jumpNotebook }}</td>
                </tr>
                <tr>
                    <td>Jump to favorite notes list</td>
                    <td>{{ shortcuts.jumpFavorite }}</td>
                </tr>
                <tr>
                    <td>Jump to removed notes list</td>
                    <td>{{ shortcuts.jumpRemoved }}</td>
                </tr>
                <tr>
                    <td>Edit</td>
                    <td>{{ shortcuts.actionsEdit }}</td>
                </tr>
                <tr>
                    <td>Open</td>
                    <td>{{ shortcuts.actionsOpen }}</td>
                </tr>
                <tr>
                    <td>Remove</td>
                    <td>{{ shortcuts.actionsRemove }}</td>
                </tr>
                <tr>
                    <td>Rotate star</td>
                    <td>{{ shortcuts.actionsRotateStar }}</td>
                </tr>
                <tr>
                    <td>Create Note</td>
                    <td>{{ shortcuts.appCreateNote }}</td>
                </tr>
                <tr>
                    <td>Search</td>
                    <td>{{ shortcuts.appSearch }}</td>
                </tr>
                <tr>
                    <td>Show Keyboard Help</td>
                    <td>{{ shortcuts.appKeyboardHelp }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
