//
// forms.less
//
.has-error input[type=text] {
    .placeholder(@brand-danger);
}
.pretty-form {
    .form-group {
        border-bottom: 1px solid @modal-header-border-color;
        margin-bottom: 0;
        textarea{
            resize: vertical;
        }
    }
    .border-0 {
        border-bottom-width: 0;
    }
    .form-control, .form-control:active,.form-control:focus, input, textarea {
        border-width: 0;
        .box-shadow(none);
    }
}
.article .pretty-form {
    .form-group {
        padding-bottom: 4px;
        padding-top: 4px;
    }
    .btn {
        margin-left: 10px;
    }
}
#inputTitle {
    height: 60px;
    font-size: @font-size-h1;
    border: none;
    box-shadow: none;
}

//
// Checkboxes
//
@task-size: 15px;
.task {
    display: block;
    margin-bottom: @task-size / 2;
}
.task input[type=checkbox] {
    display: none;
}
.task span {
    position: relative;
    padding-left: @task-size + 6px;
    display: inline-block;
	cursor: pointer;
    font-weight: normal;
    &:before {
        // border-radius: 2px;
        color: darken(@baseGreenColor, 5%);
        content: "";
	    display: inline-block;
	    width: @task-size;
	    height: @task-size;
	    margin-right: @task-size;
	    position: absolute;
	    left: 0;
	    top: 3px;
        border: 1px solid darken(#FFF, 20%);
	    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .1), 0px 1px 0px 0px rgba(255, 255, 255, .2);
        font-weight: bolder;
	    font-size: @task-size + 4px;
        line-height: @task-size - 4px;
	    text-align: center;
    }
}
.task input[type=checkbox]:checked {
    + span {
        text-decoration: line-through;
        color: darken(@gray-light, 20%);
        &:before {
	        content: "\2713";
	        text-shadow: 0 0 1px darken(@baseGreenColor, 10%);
        }
    }
}

//
// Search form
//
.search-form {
    padding-top: 10px;
    padding-bottom: 10px;
    .glyphicon-search {
        margin-left: 10px;
        width: 3%;
        color: darken(#FFF, 20%);
        &.active {
            color: #101010;
        }
    }
    .search-group {
        width: 90%;
    }
    .search-input {
        width: 100%;
        border-width: 0;
        box-shadow: none;
        &:focus, &:active {
            border-width: 1px;
            .form-control-focus();
        }
    }
}

//
// Tagsinput
//
.bootstrap-tagsinput {
    padding: 8px 15px;
    input {
        width: auto;
    }
    .tag {
        color: white;
        // remove button
        [data-role="remove"] {
            margin-left: 8px;
            cursor: pointer;
            &:after{
                content: "x";
                padding: 0px 2px;
            }
            &:hover {
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
                &:active {
                    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
                }
            }
        }
    }
}

//
// Distraction free mode
//
.distraction-free {
    background-color: #FFF;
    #sidebar, .navbar-static-top {
        display: none;
    }
    #content .ui-s-content {
        bottom: 30px;
    }
    #content {
        width: 100%;
    }
    #content .article {
        width: 70%;
        margin: 0 auto;
    }
    #wmd-button-bar {
        margin: 0;
        text-align: center;
        padding: 0;
    }
    .pretty-form .form-group {
        margin-bottom: 10px;
        padding-right: 10px;
        border: 0;
        box-shadow: 0 0 2px darken(#FFF, 6%);
    }
    #inputTitle {
        height: 40px;
        font-size: @font-size-h3;
    }
}
//
// Two column mode
//
.distraction-free.two-column {
    #content .article {
        width: 100%;
        padding-top: 0;
    }
    #noteForm, .preview-col {
        padding-top: 20px;
    }
    .article.row #wmd-input {
    }
    .article.row #noteForm {
        box-shadow: 6px 0px 6px -6px lighten(#999, 10%);
    }
    .article.row .preview-col {
        box-shadow:  -6px 0px 6px -6px lighten(#999, 10%);
    }
    .article.row #wmd-preview {
        margin-top: 60px;
    }
}
