//
// forms.less
//
.has-error input[type=text] {
    .placeholder(@brand-danger);
}
.pretty-form {
    .form-group {
        border-bottom: 1px solid @modal-header-border-color;
        margin-bottom: 0;
        textarea{
            resize: vertical;
        }
    }
    .border-0 {
        border-bottom-width: 0;
    }
    .form-control, .form-control:active,.form-control:focus, input, textarea {
        border-width: 0;
        .box-shadow(none);
    }
}
.article .pretty-form {
    .form-group {
        padding-bottom: 4px;
        padding-top: 4px;
    }
    .btn {
        margin-left: 10px;
    }
}
#inputTitle {
    height: 60px;
    font-size: @font-size-h1;
    border: none;
    box-shadow: none;
}

.saveBtnGroup {
    .btn {
        margin-left: 0!important;
    }
}

//
// Animated Checkboxes
// http://thecodeplayer.com/walkthrough/custom-animated-checkbox-inputs-using-css-iconfonts
@task-size: 16px;
.task {
    display: block;
    margin-bottom: @task-size - 10;
    padding-left: @task-size * 1.3;
    padding-top: 2px;
    position: relative;
    font-weight: normal;
    font-size: @task-size;
    cursor: pointer;
}
.task input[type=checkbox] {
    display: none;
}
.task input[type=checkbox] + span:before,
.task input[type=checkbox] + span:after {
    font-family: 'fontello';
    font-size: 20px;
    color: darken(@brand-success, 6%);
    position: absolute;
    top: 0;
    left: 0;
}
.task input[type=checkbox] + span:before {
    content: "\e826";
}
.task input[type=checkbox] + span:after {
    content: "\e825";
    margin-bottom: 7px;
 	max-width: 0;
	overflow: hidden;
	opacity: 0.5;
	transition: all 0.35s;   transition: all 0.35s;
}
.task input[type=checkbox]:checked + span {
    text-decoration: line-through;
    &:after {
        max-width: 25px;
        opacity: 1;
    }
}
//
// Search form
//
.search-form {
    .icon-search {
        margin-left: 10px;
        width: 3%;
        color: darken(#FFF, 20%);
        &.active {
            color: #101010;
        }
    }
    .search-group {
        width: 90%;
    }
    .search-input {
        width: 100%;
        border-radius: @border-radius-base;
        border-width: 0;
        box-shadow: none;
        &:focus, &:active {
            border-width: 1px;
            .form-control-focus();
        }
    }
}

//
// Distraction free mode
//
.preview-col {
    display: none; // For default hide preview
}
// Do not show save button in pagedown bar
#wmd-button-bar {
    .wmd-hidden {
        display: none;
    }
}
.distraction-free {
    background-color: #FFF;
    #sidebar, .navbar-static-top {
        display: none;
    }
    #content {
        width: 100%;
    }
    #content .article {
        width: 70%;
        margin: 0 auto;
    }
    #wmd-button-bar {
        margin: 0;
        text-align: center;
        padding: 0;
    }
    .pretty-form .form-group {
        padding-right: 10px;
        border: 0;
        // box-shadow: 0 0 2px darken(#FFF, 6%);
    }
    #inputTitle {
        height: auto;
        font-size: @font-size-h3;
        font-weight: bold;
    }
    // Save button
    #wmd-button-bar {
        .wmd-hidden {
            display: inline-block;
        }
    }
}
//
// Two column mode
//
.make-pagedown-column(@columns) {
    .make-lg-column(@columns);
    .make-md-column(@columns);
    .make-sm-column(@columns);
    .make-xs-column(@columns);
}
.distraction-free.two-column {
    background-color: #EDECE4;
    #content .article {
        width: 100%;
        min-height: 1px;
        padding-top: 0;
        background: transparent;
    }
    #noteForm {
        padding-top: 20px;
    }
    // Make two columns
    .wmd-group {
        .make-row();
    }
    .ui-scroll-y {
        overflow: hidden;
    }
    .markdown-col, .preview-col {
        .make-pagedown-column(5.84);
        min-height: 1px;
        position: absolute;
        top: @navbar-height * 2.4;
        bottom: 0;
        overflow: hidden;
    }
    .markdown-col {
        background-color: #FFF;
        left: 1%;
    }
    .preview-col {
        right: 1%;
        display: block;
    }
    .wmd-preview,
    .wmd-input {
        background-color: #FFF;
        width: 100%;
        min-height: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }
    textarea.wmd-input {
        height: 100%;
        padding-left: 15px;
    }
    .wmd-preview {
        overflow: auto;
    }
    #wmd-preview {
        padding: 15px 20px 100px;
        word-wrap: break-word;
    }
}

//
// Responsive pagedown buttons
//
.invisible-wmd-btn (@max-width) {
    .responsive-visibility();
    @media (max-width: @max-width) {
        .responsive-invisibility();
    }
}
// Hide buttons one by one
.distraction-free {
    #wmd-undo-button,
    #wmd-redo-button,
    .wmd-spacer3 {
        .invisible-wmd-btn(920px);
    }
    #wmd-hr-button,
    #wmd-heading-button {
        .invisible-wmd-btn(836px);
    }
    #wmd-ulist-button,
    #wmd-olist-button,
    .wmd-spacer2 {
        .invisible-wmd-btn(752px);
    }
    #wmd-image-button,
    #wmd-code-button {
        .invisible-wmd-btn(668px);
    }
    #wmd-quote-button,
    #wmd-link-button,
    .wmd-spacer1 {
        .invisible-wmd-btn(584px);
    }
    #wmd-bold-button,
    #wmd-italic-button {
        .invisible-wmd-btn(440px);
    }
}

//
// Dropzone area
//

.dropzone {
    border: 10px dashed #CCC;
    min-height: 100px;
    margin: 20px auto;
    cursor: pointer;
    padding: 20px;
}
.dz-preview {
    cursor: default;
    display: inline-block;
    margin: 0 auto;

    img{
        margin: 0 10px 10px 0;
    }
}
