@media (max-width: 767px) {
  html,
  body {
    overflow: auto;
  }
  #sidebar,
  #content {
    height: auto;
    overflow: visible;
  }
  #sidebar {
    background-color: transparent;
  }
  .navbar .nav,
  .navbar .navbar-brand {
    float: left;
  }
  .navbar .navbar-brand {
    margin-top: 10px;
    max-width: 120px;
    height: 34px;
    overflow: hidden;
  }
  .navbar .pull-right {
    float: right;
    width: auto;
    margin-bottom: 15px;
  }
  .navbar .nav > li {
    float: left;
  }
}
