//
// Responsive.less
//

// Make sidebar and content scrollable
@media (min-width: @screen-xs-max) {
    .navbar-bottom {
        z-index: inherit;
        padding-bottom: 25px;
        .btn {
            font-weight: bold;
        }
    }
}

// Tablets and small screens only
@media (max-width: @screen-xs-max) {
    // Navbar
    .navbar {
        .nav, .navbar-brand {
            float: left;
        }
        .navbar-brand {
            padding: 15px;
            font-size: 18px;
            line-height: 20px;
            max-height: @font-size-base + 30px;
            max-width: 320px - 170px;
            overflow: hidden;
        }
        .pull-right {
            float: right;
            width: auto;
            margin-bottom: 15px;
        }
        .nav {
            > li {
                float: left;
            }
        }
        .navbar-left {
            float: left;
        }
        .navbar-right {
            float: right;
        }
    }
    .navbar-nav {
        margin: 0;
    }
    .form-inline .form-group {
        margin-bottom: 0;
        vertical-align: middle;
        display: inline-block;
    }
}
