@import "@{boot_dir}mixins.less";
@import "@{boot_dir}variables.less";
@import "variables.less";

//
// Main styles
//
html, body, #wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
    background: darken(#FFF, 4%);
}

//
// Make sidebar and content scrollable
//
html, body {
    overflow: hidden;
}
#sidebar, #content {
    position: relative;
    height: 100%;
    .ui-s-cont {
        width: 100%;
        position: absolute;
        top: @navbar-height;
        left: 0;
        height: 100%;
    }
    .ui-s-content {
        position: absolute;
        top: 0;
        bottom: @navbar-height;
        width: 100%;
        overflow-y: scroll;
    }
    .navbar-bottom {
        z-index: inherit;
        padding-bottom: 25px;
        .btn {
            font-weight: bold;
        }
    }
}

//
// Basic styles for all navbars
//
.navbar {
    padding: 0 10px;
    .btn {
        margin-top: 7px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: @border-radius-base;
    }
}

//
// Modals
//
.modal-header {
    background-color: darken(#FFF, 4%);
    border-radius: 4px 4px 0 0;
}
.modal-body {
    padding-top: 0;
    .form-group {
        margin-left: -(15px  + 4px);
        margin-right: -(15px + 4px);
        padding-top    : 5px;
        padding-bottom : 5px;
    }
}

.m0 {
    margin: 0;
}

// Forms
@import "forms.less";

// Sidebars
@import "sidebar.less";

// Content
@import "content.less";
