//
// Variables for less
//

@baseGreenColor: #00A693;

@border-radius-base: 4px;

// Default buttons
@btn-default-bg: #FFF;
@btn-default-border: darken(#FFF, 10%);

// Success buttons
@btn-success-bg: @baseGreenColor;
@btn-success-border: lighten(@baseGreenColor, 1%);
