<div class="pagedown--bar dropdown" id="wmd-button-bar">
    <button class="visible-500 wmd-button btn-danger pull-right"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <b class="caret"></b>
    </button>
    <div class="dropdown-menu dropdown-menu-right pagedown--buttons">
        <div class="btn-group">
            <button class="btn visible-400" data-button="wmd-olist-button">
                <i class="icon-list-numbered"></i>
            </button>
            <button class="btn visible-400" data-button="wmd-ulist-button">
                <i class="icon-list-bullet"></i>
            </button>
            <button class="btn" data-button="wmd-heading-button">
                <i class="icon-font"></i>
            </button>
            <button class="btn" data-button="wmd-hr-button">
                <i class="icon-minus"></i>
            </button>
            <button class="btn" data-button="wmd-undo-button">
                <i class="icon-reply"></i>
            </button>
            <button class="btn" data-button="wmd-redo-button">
                <i class="icon-share"></i>
            </button>
        </div>
    </div>
</div>

<div class="btn-group btn-group-justified hidden -show">
    <div class="btn-group">
        <button data-col="left" class="btn btn-default active pagedown--col--btn">
            {{i18n('Editor')}}
        </button>
    </div>
    <div class="btn-group">
        <button data-col="right" class="btn btn-default pagedown--col--btn">
            {{i18n('Preview')}}
        </button>
    </div>
</div>

<div class="pagedown--row">
    <div class="pagedown--layout -left -show">
        <div class="pagedown--input" id="wmd-input">{{content}}</div>
    </div>

    <div class="pagedown--layout -right">
        <div class="pagedown--preview" id="wmd-preview"></div>
    </div>
</div>
