node_modules
npm-debug.log
dist
.tmp
.sass-cache
app/bower_components
test/bower_components
.idea
app/styles/*.css
*.swp
app/scripts/libs/remotestorage.js
app/scripts/apps/settings/show/encryptView.js
app/scripts/apps/settings/show/encryptTemplate.html
app/scripts/helpers/syncStatus.js
