<nav class="navbar navbar-static-top">
    <div id="wmd-button-bar"></div>
</nav>

<div class="ui-s-cont">
    <div class="ui-s-content">
        <div class="main">
            <form class="form-horizontal" action="#">
                <div class="article">
                    <input id="inputTitle" class="form-control" name="title" type="text" value="" placeholder="Title" />
                    <div class="wmd-input" id="wmd-input"></div>
                    <!-- <div id="wmd&#45;preview" class="wmd&#45;panel wmd&#45;preview"></div> -->
                </div>
            </form>
        </div>
    </div>
</div>
