<form action="#" class="form-horizontal">
    <div class="form-group">
        <input id="inputTitle" class="form-control" name="title" type="text" value="" placeholder="Title" />
    </div>
    <div class="form-group">
        <select name="notbookId" class="form-control">
            <option value="1" selected>Selected notebook</option>
        </select>
    </div>
    <div class="form-group">
        <textarea class="form-control" name="content" cols="30" rows="15" placeholder="Text here..."></textarea>
    </div>
    <div class="form-group">
        <input class="form-control" name="tags" placeholder="Tags"/>
    </div>
</form>
