<div class="navbar navbar-static-top">
    <ul class="nav navbar-nav pull-right">
        <li>
            <a href="#/note/edit/{{id}}" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </a>
        </li>
        <li>
            <a href="#/note/remove/{{id}}" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </a>
        </li>
        <li>
            <a href="#" class="btn btn-default">
                <span class="hidden-sm"><span class="glyphicon glyphicon-cog"></span> Settings</span>
                <span class="visible-sm"><span class="glyphicon glyphicon-cog"></span></span>
            </a>
        </li>
    </ul>
</div>
<div class="main">
    <header>
        <h1 class="article-headline">
            {{title}}
            <span class="favorite pull-right glyphicon glyphicon-star <% if (isFavorite === 0) {%>glyphicon-star-empty<% } %>"></span>
        </h1>
    </header>
    <div class="article">
        <% if (taskAll !== 0) { %>
        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ taskCompleted }}" aria-valuemin="0" aria-valuemax="{{ taskAll }}" style="width: {{ getProgress(taskCompleted, taskAll) }}%">
                <span class="sr-only">  50% of tasks is completed</span>
            </div>
        </div>
        <% } %>

        <p>{{content}}</p>
        <!--<h2>My tasks</h2>-->
        <!--<p>-->
            <!--<label class="task">-->
                <!--<input type="checkbox" />-->
                <!--<span>Task N1</span>-->
            <!--</label>-->
            <!--<label class="task">-->
                <!--<input type="checkbox" checked />-->
                <!--<span>Checked task</span>-->
            <!--</label>-->
        <!--</p>-->
    </div>
</div>
