<nav class="navbar navbar-static-top">
    <ul class="nav navbar-nav pull-right">
        <li>
            <a href="#/note/edit/{{id}}" class="btn btn-default btn-edit">
                <span class="fa fa-pencil"></span> Edit
            </a>
        </li>
        <li>
            <a href="#/note/remove/{{id}}" class="btn btn-default">
                <span class="fa fa-trash-o"></span> Delete
            </a>
        </li>
        <li>
            <a href="#" class="btn btn-default" id="showSettings">
                <span class="hidden-sm"><span class="fa fa-cog"></span> Settings</span>
                <span class="visible-sm"><span class="fa fa-cog"></span></span>
            </a>
        </li>
    </ul>
</nav>

<div class="ui-s-cont">
    <div class="ui-s-content">
        <div class="main">
            <div class="article">
                <header>
                    <h1 class="page-header">
                        {{ title }}
                        <% if (notebookId !== null) { %><small>{{ notebookId.name }}</small><% } %>
                        <a href="#" class="btn btn-link favorite pull-right">
                            <span class="glyphicon glyphicon-star <% if (isFavorite === 0) {%>glyphicon-star-empty<% } %>"></span>
                        </a>
                    </h1>
                </header>
                <% if (taskAll !== 0) { %>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ taskCompleted }}" aria-valuemin="0" aria-valuemax="{{ taskAll }}" style="width: {{ getProgress(taskCompleted, taskAll) }}%">
                        <span class="progress-percent">
                            {{ getProgress(taskCompleted, taskAll) }}%
                        </span>
                    </div>
                </div>
                <% } %>
                {{ getContent(content) }}
            </div>
        </div>
    </div>
</div>
