<nav class="navbar navbar-default navbar-static-top">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a href="#" class="btn btn-default notes">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </li>
        <li>
            <a href="#" class="btn">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
        </li>
    </ul>
    <a href="" class="btn-link navbar-brand">Some base note</a>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#/note/add" class="btn btn-danger addlink">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </li>
    </ul>
</nav>

<div class="ui-s-cont">
    <div class="ui-s-content">
        <form class="form-inline search-form">
            <span class="glyphicon glyphicon-search input-append"></span>
            <input type="text" placeholder="Search" class="input-append search-input" />
            <!--<span class="glyphicon glyphicon-off input-append"></span>-->
        </form>

        <div class="main">
            <div class="list-group">
            </div>
        </div>

        <nav class="navbar navbar-static-top navbar-bottom">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default" id="prevPage" href="#/note/0/p{{prevPage}}">Prev</a>
                <a class="btn btn-default" id="nextPage" href="#/note/0/p{{nextPage}}">Next</a>
            </div>
        </nav>
    </div>
</div>
