<form action="#" class="form-horizontal pretty-form" method="post">
    <div class="form-group">
        <input name="name" class="form-control" type="text" value="{{name}}" placeholder="Title" />
    </div>
    <div class="form-group">
        <select name="parentId" class="form-control">
            <option value="0">Parent: Root</option>
            <% _.each(notebooks, function (notebook) { %>
            <option value="{{notebook.id}}"{{isParent(notebook.id, parentId) }}>Parent: {{notebook.name}}</option>
            <% }); %>
        </select>
    </div>
</form>
