<% if (!isDefaultProfile()) { %>
<div class="form-group">
    <label class="col-sm-2 control-label" for="useDefaultConfigs">
        {{ i18n('useDefaultConfigs') }}
    </label>
    <div class="col-sm-10 checkbox">
         <label class="control-label">
             <input id="useDefaultConfigs" type="checkbox" name="useDefaultConfigs" <% if(Number(useDefault.value) === 1) { %> checked<% } %> >
             {{ i18n('Yes') }}
         </label>
    </div>
</div>
<% } %>

<div class="form-group">
    <label class="col-sm-2 control-label" for="appLang">
        <i class="fa fa-cloud"></i> {{ i18n('Language') }}
    </label>
    <div class="col-sm-10">
        <select class="form-control" name="appLang" id="appLang">
        <% _.forEach(locales, function(val, locale) { %>
        <option value="{{ locale }}"{{ isLocaleActive(locale) }}>
            {{ val.nativeName }}
        </option>
        <% }); %>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="pagination">{{ i18n('Notes per page') }}</label>
    <div class="col-sm-10">
        <input type="number" id="pagination" name="pagination" value="{{models.pagination}}" class="form-control" >
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="sortnotes">{{ i18n('Sort notes') }}</label>
    <div class="col-sm-10">
        <select id="sortnotes" class="form-control" name="sortnotes" checked="{{models.sortnotes}}">
            <option value="created">{{ i18n('Created date') }}</option>
            <option value="updated" <%if(models.sortnotes === 'updated'){%>selected<%}%>>
            {{ i18n('Updated date') }}
            </option>
            <option value="title" <%if(models.sortnotes === 'title'){%>selected<%}%>>
            {{ i18n('Title') }}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="sortnotebooks">{{ i18n('Sort notebooks') }}</label>
    <div class="col-sm-10">
        <select id="sortnotebooks" class="form-control" name="sortnotebooks" checked="{{models.sortnotebooks}}">
            <option value="name">{{ i18n('Name') }}</option>
            <option value="created" <%if(models.sortnotebooks === 'created'){%>selected<%}%>>
            {{ i18n('Created date') }}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="navbarNotebooksMax">{{ i18n('Notebooks in drawer') }}</label>
    <div class="col-sm-10">
        <input type="number" id="navbarNotebooksMax" name="navbarNotebooksMax" value="{{models.navbarNotebooksMax}}" class="form-control" >
    </div>
</div>
