<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ i18n('Profile name') }}</th>
            <th width="5%">{{ i18n('Action') }}</th>
        </tr>
    </thead>
    <tbody>
    <% _.forEach (appProfiles, function (profile) { %>
        <tr>
            <td>{{ profile }}</td>
            <td>
                <% if (profile !== 'notes-db') { %>
                <button class="btn btn-link removeProfile" data-profile="{{ profile }}"><i class="icon-trashed"></i></button>
                <% } %>
            </td>
        </tr>
    <% }); %>
        <tr>
            <td>
                <input type="text" id="profileName" class="form-control" placeholder="Type profile name"/>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
