<div class="modal-dialog"><div class="modal-content modal-settings">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">{{ i18n('Settings') }}</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#basic" data-toggle="tab">{{ i18n('Basic') }}</a></li>
            <li><a href="#shortcuts" data-toggle="tab">{{ i18n('Shortcuts') }}</a></li>
            <li><a href="#other" data-toggle="tab">{{ i18n('Other') }}</a></li>
            <li><a href="#profiles" data-toggle="tab">{{ i18n('Profiles') }}</a></li>
        </ul>
    </div>
    <div class="modal-body">
        <form action="#" class="form-horizontal" method="post">
            <div id="tab-content" class="tab-content">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success ok">{{ i18n('Save') }}</button>
        <button type="button" class="btn btn-default cancelBtn">{{ i18n('Cancel') }}</button>
    </div>
</div></div>
