<nav id="formNavbar" class="ui-row navbar navbar-static-top tab-{{tab}}">
    <ul class="m0 pull-right">
        <li class="btn-group cancelBtnGroup">
            <button type="button" class="cancelBtn pull-right btn btn-default">{{ i18n('Close') }}</button>
        </li>
        <li class="btn-group saveBtn">
            <button type="button" class="btn btn-success">
                <i class="icon-save"></i> <span class="save-btn-text">{{ i18n('Save') }}</span>
            </button>
        </li>
    </ul>
</nav>

<div class="ui-row ui-body ui-scroll-y">
    <div class="main"><div class="article">
        <form class="form form-horizontal">
        </form>
    </div></div>
</div>
