<div class="modal-content modal-settings">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Settings</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
            <li><a href="#shortcuts" data-toggle="tab">Shortcuts</a></li>
        </ul>
    </div>
    <div class="modal-body">
        <form action="#" class="form-horizontal" method="post">
            <div class="tab-content">
                <div class="tab-pane active" id="basic">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="useEncryption">Use encryption</label>
                        <div class="col-sm-10 checkbox">
                             <label class="control-label">
                                 <input class="showField" data-field="#encryptOpt" type="checkbox" name="encrypt" <% if(models.encrypt === 1) { %> checked<% } %> >
                                 yes
                             </label>
                        </div>
                    </div>
                    <fieldset id="encryptOpt" style="<% if(models.encrypt === 0) { %>display:none;<% } %>">
                        <legend>Encryption parameters</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Encryption Password</label>
                            <div class="col-sm-10">
                                <input type="text" name="encryptPass" value="{{models.encryptPass}}" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Salt</label>
                            <div class="col-sm-10">
                                <input type="text" name="encryptSalt" value="{{models.encryptSalt}}" class="form-control" >
                                <a id="randomize" href="#">Random</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Key size</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="encryptKeySize">
                                    <option value="128">128</option>
                                    <option value="192">192</option>
                                    <option value="256">256</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="checkbox">
                             <label>
                                 <input type="checkbox" name="cloudStorage" <% if(models.cloudStorage === 1) {%> checked<%}%> >
                                 Cloud Storage
                             </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Pagination</label>
                        <div class="col-sm-10">
                            <input type="text" name="pagination" value="{{models.pagination}}" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="shortcuts">
                    <fieldset>
                        <legend>Navigation</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Top</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.navigateTop}}" name="navigateTop" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Bottom</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.navigateBottom}}" name="navigateBottom" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>jump</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Go to inbox</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.jumpInbox}}" name="jumpInbox"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Go to notebook list</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.jumpNotebook}}" name="jumpNotebook"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Go to favorite notes</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.jumpFavorite}}" name="jumpFavorite"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Go to removed notes</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.jumpRemoved}}" name="jumpRemoved"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Actions</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Edit</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.actionsEdit}}" name="actionsEdit"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Open</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.actionsOpen}}" name="actionsOpen"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Remove</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.actionsRemove}}" name="actionsRemove"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Rotate Star</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.actionsRotateStar}}" name="actionsRotateStar"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>app</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Create new note</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.appCreateNote}}" name="appCreateNote"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Search note</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.appSearch}}" name="appSearch"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Keyboard help</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{models.appKeyboardHelp}}" name="appKeyboardHelp"/>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div><!-- /.modal-body -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger ok">Save</button>
        <button type="button" class="btn btn-default cancelBtn" data-dismiss="modal">Cancel</button>
    </div>
</div>
