<div class="modal-content modal-settings">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Settings</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
            <li><a href="#shortcuts" data-toggle="tab">Shortcuts</a></li>
        </ul>
    </div>
    <div class="modal-body">
        <form action="#" class="form-horizontal" method="post">
            <div class="tab-content">
                <div class="tab-pane active" id="basic">
                    <div class="form-group">
                        <div class="checkbox">
                             <label>
                                 <input type="checkbox" name="encryption" <% if(models['encryption'] === 1) {%> checked<%}%> >
                                 Encryption
                             </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                             <label>
                                 <input type="checkbox" name="cloud-storage" <% if(models['cloud-storage'] === 1) {%> checked<%}%> >
                                 Cloud Storage
                             </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                             <label>
                                 <input type="checkbox" name="pagination-configs" <% if(models['pagination-configs'] === 1) {%> checked<%}%> >
                                 Pagination Configs
                             </label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="shortcuts">
                    <fieldset>
                        <legend>Navigation</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Top</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-navigation-top'] %>" name="shortcuts-navigation-top"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Bottom</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-navigation-bottom'] %>" name="shortcuts-navigation-bottom"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Jumping</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Go to inbox</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-jumping-inbox'] %>" name="shortcuts-jumping-inbox"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Go to notebook list</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-jumping-notebook-list'] %>" name="shortcuts-jumping-notebook-list"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Go to favorite notes</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-jumping-favorite-notes'] %>" name="shortcuts-jumping-favorite-notes"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Go to removed notes</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-jumping-removed-notes'] %>" name="shortcuts-jumping-removed-notes"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Actions</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Edit</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-actions-edit'] %>" name="shortcuts-actions-edit"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Open</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-actions-open'] %>" name="shortcuts-actions-open"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Remove</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-actions-remove'] %>" name="shortcuts-actions-remove"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Rotate Star</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-actions-rotate-star'] %>" name="shortcuts-actions-rotate-star"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Application</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Create new note</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-application-create-new-note'] %>" name="shortcuts-application-create-new-note"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Search note</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-application-search-note'] %>" name="shortcuts-application-search-note"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Keyboard help</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="<%- models['shortcuts-application-keyboard-help'] %>" name="shortcuts-application-keyboard-help"/>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div><!-- /.modal-body -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger ok">Save</button>
        <button type="button" class="btn btn-default cancelBtn" data-dismiss="modal">Cancel</button>
    </div>
</div>
