<div class="modal-dialog modal-mini">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">{{ _.i18n('Key') }}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    Avatar @todo
                </div>
                <div class="col-md-8">
                    <table class="table table-condensed">
                        <tr>
                            <td>{{_.i18n('User ID')}}</td>
                            <td>{{key.users[0].userId.userid}}</td>
                        </tr>
                        <tr>
                            <td>{{_.i18n('Key ID')}}</td>
                            <td>{{key.primaryKey.getKeyId().toHex()}}</td>
                        </tr>
                        <tr>
                            <td>{{_.i18n('Fingerprint')}}</td>
                            <td>{{getFingerprint()}}</td>
                        </tr>
                        <tr>
                            <td>{{_.i18n('Type')}}</td>
                            <td>{{getType()}}</td>
                        </tr>
                        <tr>
                            <td>{{_.i18n('Created')}}</td>
                            <td>{{key.primaryKey.created.toLocaleDateString()}}</td>
                        </tr>
                        <tr>
                            <td>{{_.i18n('Expires')}}</td>
                            <td>
                                <% if (key.primaryKey.expirationTimeV3 === 0) { %>
                                {{_.i18n('Never')}}
                                <% } %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                <h4>{{_.i18n('Public key')}}:</h4>
                <textarea class="form-control" readonly="true" rows="8">{{getArmor()}}</textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn--cancel">
                {{ _.i18n('Close') }}
            </button>
        </div>
    </div>
</div>
