<div class="form-group">
    <div class="col-sm-12 checkbox">
         <label class="control-label">
             <input id="useEncryption" type="checkbox" name="encrypt" <% if(Number(models.encrypt) === 1) { %> checked<% } %> >
             {{ _.i18n('Use encryption') }}
         </label>
    </div>
</div>

<% if (keys !== null) { %>
<div class="center-block">
    <header>
        <h3>{{_.i18n('Your key')}}</h3>
    </header>

    <button id="btn--privateKey" type="button" class="btn btn-default btn-block">
        <i class="icon-lock"></i>
        {{privateKey.users[0].userId.userid}}
    </button>
    <button id="btn--passphrase" type="button" class="btn btn-default btn-block">
        <i class="icon-pencil"></i>
        {{_.i18n('Change passphrase')}}
    </button>
</div>

<div class="center-block">
    <header>
        <h3>
            {{_.i18n('Public keys you trust')}}
            <button class="btn btn-link btn--add--public" type="button"><i class="icon-doc-new"></i></button>
        </h3>
    </header>

    <% _.each(keys, function(key, fingerprint) { %>
    <% if (!isPrivate(fingerprint)) { %>
    <button type="button" class="btn btn-default btn-block btn--publicKey" data-index="{{fingerprint}}">
        <i class="icon-lock"></i>
        {{key.users[0].userId.userid}}
    </button>
    <% } %>
    <% }) %>
</div>
<% } %>
