<div class="container text-center -auth -backup">
    <header>
        <h3 class="header--brand"><i class="icon-save"></i></h3>
        <h1 class="header--brand">{{i18n('encryption.backup.title')}}</h1>
    </header>

    <div>
        <p class="-text-small -text-justify">{{i18n('encryption.backup.content')}}</p>
    </div>

    <div>
        <button class="btn btn-lg btn-block btn--brand" id="btn--download">{{i18n('Download')}}</button>
    </div>
    <div>
        <button class="btn btn-lg btn-block btn--brand" id="btn--next"
            title="{{i18n('encryption.backup.next')}}">
            {{i18n('Next')}}
        </button>
    </div>
</div>
