<div class="modal-dialog"><div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            <a class="btn btn-danger ok" href="#">{{ i18n('Save') }}</a>
            <a class="btn btn-default cancelBtn" href="#">{{ i18n('Cancel') }}</a>
        </h4>
    </div>
    <div class="modal-body">
        <form action="#" class="form-horizontal pretty-form" method="POST">
            <div class="form-group" id="tag-name">
                <input name="name" class="form-control" type="text" value="{{name}}" placeholder="{{ i18n('Title') }}" />
            </div>
        </form>
    </div>
</div></div>
