<nav class="ui-row navbar navbar-static-top">
    <ul class="nav navbar-nav pull-left">
        <li>
            <a href="#" class="btn btn-default btn-toggle-sidebar visible-xs">
                <span class="icon-align-justify"></span>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li>
            <a href="#{{ uri }}notes/edit/{{id}}" class="btn btn-default btn-edit">
                <span class="icon-pencil"></span> <span class="hidden-xxs">{{ i18n('Edit') }}</span>
            </a>
        </li>
        <% if (trash === 1) { %>
        <li>
            <a id="restoreNote" href="#" class="btn btn-default">
                <span class="icon-undo"></span> <span class="hidden-xxs">{{ i18n('Restore') }}</span>
            </a>
        </li>
        <% } %>
        <li>
            <a href="#{{ uri }}notes/remove/{{id}}" class="btn btn-default">
                <span class="icon-trashed"></span> <span class="hidden-xxs"><% if (trash === 0) { %>{{ i18n('Delete') }}<% } else { %> {{ i18n('Forever') }}<% } %></span>
            </a>
        </li>
        <li>
            <a href="#{{ uri }}settings" class="btn btn-default" id="showSettings">
                <span class="icon-cog"></span> <span class="hidden-xxs">{{ i18n('Settings') }}</span>
            </a>
        </li>
    </ul>
</nav>

<div class="ui-row ui-scroll-y ui-body">
    <div class="main">
        <div class="article" data-id="{{ id }}">
            <header>
                <h1 class="page-header">
                    {{ title }}
                    <small>{{ createdDate() }}</small>
                    <a href="#" class="btn btn-link favorite pull-right">
                        <span class="<% if (isFavorite === 0) {%>icon-star-empty<% } else { %>icon-favorite<% } %>"></span>
                    </a>
                </h1>
            </header>
            <% if (taskAll !== 0) { %>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ taskCompleted }}" aria-valuemin="0" aria-valuemax="{{ taskAll }}" style="width: {{ getProgress(taskCompleted, taskAll) }}%">
                    <span class="progress-percent">
                        {{ getProgress() }}%
                    </span>
                </div>
            </div>
            <% } %>
            <p><% if (notebook !== null) { %>{{ notebook }}<% } %></p>
            {{ getContent() }}
        </div>
    </div>
</div>
