<nav class="layout--navbar navbar navbar-default navbar-static-top header -form">
<div class="container-fluid">
    <div class="navbar-left header--left navbar-form">
        <div id="editor--notebooks"></div>
    </div>

    <ul class="nav navbar-nav navbar-right header--right">
        <li class="dropdown">
            <button type="button" title="Mode" class="btn header--btn btn-default" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="icon-fullscreen"></i> <b class="caret hidden-xs"></b>
            </button>
            <ul class="editor--mode dropdown-menu dropdown-menu-left" role="menu">
                <li>
                    <a href="#" data-mode="fullscreen">
                        <i class="icon-fullscreen"></i> {{ i18n('Full screen') }}
                    </a>
                </li>
                <li>
                    <a href="#" data-mode="preview">
                        <i class="icon-eye"></i> {{ i18n('Preview') }}
                    </a>
                </li>
                <li>
                    <a href="#" data-mode="normal">
                        <i class="icon-squares"></i> {{ i18n('Normal') }}
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <button class="editor--cancel btn header--btn btn-default ">
                <i class="icon-block"></i>
                <span class="hidden-xs">{{ i18n('Cancel') }}<span>
            </button>
        </li>
        <li>
            <button class="editor--save btn header--btn btn-success ">
                <i class="icon-save"></i>
                <span class="hidden-xs">{{ i18n('Save') }}</span>
            </button>
        </li>
    </ul>
</div>
</nav>

<div class="layout--body -scroll -form">
    <div class="container-fluid editor--container">
        <form class="editor--form form-horizontal col-xs-12" action="#" method="post">
            <div class="form-group">
                <input id="editor--input--title" class="form-control -borderless" name="title"
                    type="text" value="{=cleanXSS(title, true)}" placeholder="{{ i18n('Title') }}" />
            </div>
        </form>
    </div>
    <div id="editor" class="layout--body editor--container"></div>
	<footer id="editor--footer"></footer>
</div>
