<nav class="ui-row navbar navbar-static-top">
    <ul class="m0 pull-right">
        <li class="btn-group saveBtnGroup">
            <span class="saveBtn btn btn-success">
                <i class="icon-save"></i> <span class="save-btn-text">{{ i18n('Save') }}</span>
            </span>
        </li>
        <li class="btn-group cancelBtnGroup">
            <span class="cancelBtn pull-right btn btn-default">{{ i18n('Cancel') }}</span>
        </li>
        <li class="btn-group dropdown switch-mode">
            <a href="#" id="switchMode" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-fullscreen"></i> <b class="caret"></b></a>
            <ul class="modeMenu dropdown-menu pull-right" role="menu" aria-labelledby="switchMode">
                <li><a href="#" data-mode="fullscreen"><i class="icon-fullscreen"></i> {{ i18n('Full screen') }}</a></li>
                <li><a href="#" data-mode="preview"><i class="icon-eye"></i> {{ i18n('Preview') }}</a></li>
                <li><a href="#" data-mode="normal"><i class="icon-squares"></i> {{ i18n('Normal') }}</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="ui-row ui-body ui-scroll-y">
    <div class="main">
        <div class="article">
            <form id="noteForm" class="form-horizontal pretty-form" action="#" method="post">
                <div class="form-group">
                    <input id="inputTitle" class="form-control" name="title" type="text" value="{{title}}" placeholder="{{ i18n('Title') }}" />
                </div>
                <div class="form-group border-0">
                    <select class="form-control" name="notebookId">
                        <option value="0">{{ i18n('Select notebook') }}</option>
                        <option class="newNotebook">{{ i18n('New notebook') }}</option>
                        <% _.forEach(notebooks, function (notebook) { %>
                        <option value="{{notebook.id}}" {{ isActive(notebook.id, notebookId) }}>{{notebook.name}}</option>
                        <% }); %>
                    </select>
                </div>
                <div id="wmd-button-bar"></div>
                <div class="form-group wmd-group">
                    <div class="markdown-col">
                        <div class="wmd-input" id="wmd-input">{{content}}</div>
                    </div>
                    <div class="preview-col">
                        <div class="wmd-preview">
                            <div id="wmd-preview"></div>
                        </div>
                    </div>
                    <!-- For clipper -->
                    <textarea id="clipContent" class="hidden" name="clipContent"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
