<nav class="navbar navbar-static-top">
    <ul class="m0 pull-right">
        <li class="btn-group">
            <a id="saveBtn" href="#" class="pull-right btn btn-info"><i class="fa fa-save"></i> Save</a>
        </li>
        <li class="btn-group">
            <a id="cancelBtn" href="#" class="pull-right btn btn-danger">Cancel</a>
        </li>
    </ul>
</nav>

<div class="ui-s-cont">
    <div class="ui-s-content">
        <div class="main">
            <div class="article">
                <form id="noteForm" class="form-horizontal pretty-form" action="#" method="post">
                    <div class="form-group">
                        <input id="inputTitle" class="form-control" name="title" type="text" value="{{title}}" placeholder="Title" />
                    </div>
                    <div class="form-group">
                        <select multiple id="inputTags" name="tags" data-role="tagsinput" />
                    </div>
                    <div class="form-group border-0">
                        <select class="form-control" name="notebookId">
                            <option value="0">Select notebook</option>
                            <% _.forEach(notebooks, function (notebook) { %>
                            <option value="{{notebook.id}}" {{ isActive(notebook.id, notebookId) }}>{{notebook.name}}</option>
                            <% }); %>
                        </select>
                    </div>
                    <div id="wmd-button-bar"></div>
                    <div class="form-group wmd-group">
                        <div class="wmd-input mousetrap" id="wmd-input">{{content}}</div>
                        <!-- <div id="wmd&#45;preview" class="wmd&#45;panel wmd&#45;preview"></div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
