<!-- Sidebars header -->
<nav class="navbar navbar-default navbar-static-top">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <div class="btn-group">
                <a href="#/notebooks" class="btn btn-default notes">
                    <span class="fa fa-align-justify"></span>
                </a>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#/notes">Inbox</a></li>
                        <li><a href="#/notes/f/favorite">Favorites</a></li>
                        <li><a href="#/notes/f/trashed">Trash</a></li>
                        <li><a href="#/notebooks">Notebooks</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <a href="#/notebooks" class="btn-link navbar-brand">Notebooks & tags</a>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#/notebooks/add" class="btn btn-danger addlink">
                <span class="fa fa-pencil"></span>
            </a>
        </li>
    </ul>
</nav>

<!-- Notebooks list -->
<div class="ui-s-cont">
    <div class="ui-s-content">
        <form class="form-inline search-form" method="post">
            <div class="form-group">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <div class="form-group search-group">
                <input class="form-control search-input" type="text" id="search-input" placeholder="Search" value="" />
            </div>
        </form>
        <div class="main">
            <div id="notebooks"></div>
            <div id="tags"></div>
        </div>
    </div>
</div>
