<a class="list--item -notebook list-group-item" href="#{{ uri }}notes/f/notebook/q/{{id}}" data-id="{{id}}">
    <i class="icon-notebook"></i>
    {=cleanXSS(name)}
</a>

<div class="list--buttons btn-group dropdown">
    <button class="drop-edit btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu{{id}}">
        <li><a class="edit-link" href="#{{ uri }}notebooks/edit/{{id}}">{{ i18n('Edit') }}</a></li>
        <li><a class="remove-link" href="#">{{ i18n('Remove') }}</a></li>
    </ul>
</div>

<div class="list--nested" data-id="{{id}}" id="{{id}}"></div>
