<a class="list-group-item" href="#{{ uri }}/notes/f/tag/q/{{name}}" data-id="{{id}}">
    <i class="icon-tag"></i>
    {{ name }}
    <span class="pull-right badge">{{count}}</span>
</a>

<div class="btn-group dropdown">
    <button class="drop-edit btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu{{id}}">
        <li><a class="edit-link" href="#{{ uri }}/tags/edit/{{id}}">{{ i18n('Edit') }}</a></li>
        <li><a href="#{{ uri }}/tags/remove/{{id}}">{{ i18n('Remove') }}</a></li>
    </ul>
</div>
