.CodeMirror {
    background  : white;
}

.cm-link {
    color: @gray;
}
.cm-url {
    color: @gray-light;
}

.cm-comment {
    background-color: lighten(@gray-lighter, 2);
}

.cm-quote {
    color: @gray-light;
}
