/**
 * Pagedown module
 */

// Buttons
.wmd-button {
    box-shadow    : none;
    border        : none;
    border-radius : 0;
    &:hover {
        background : @pagedown--btn--hover--bg;
        color      : @pagedown--btn--hover--color;
    }
}

// Preview
.pagedown--preview {
}
