//
// Responsive.less
//

// Hide on extra small screens
.hidden-xxs {
  @media (max-width: @screen-xxs-max) {
    .responsive-invisibility();
  }
}

// Make sidebar and content scrollable
@media (min-width: @screen-xs-max) {
    .navbar-bottom {
        z-index: inherit;
        padding-bottom: 25px;
        .btn {
            font-weight: bold;
        }
    }
}

// Tablets and small screens only
@media (max-width: @screen-xs-max) {
    .pull-right {
        float: right;
        width: auto;
        margin-bottom: 15px;
    }
    // Navbar
    .navbar {
        .nav, .navbar-brand {
            float: left;
        }
        .navbar-brand {
            line-height: 20px;
            padding-top: 15px;
        }
        .nav {
            > li {
                float: left;
            }
        }
        .navbar-left {
            float: left;
        }
        .navbar-right {
            float: right;
        }
    }
    .navbar-nav {
        margin: 0;
    }
    .form-inline .form-group {
        margin-bottom: 0;
        vertical-align: middle;
        display: inline-block;
    }
}
