<!-- Sidebars header -->
<nav class="ui-row navbar navbar-default navbar-static-top">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <div class="btn-group">
                <a href="#/notebooks" class="btn btn-default notes hidden-xs">
                    <span class="icon-align-justify"></span>
                </a>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-align-justify visible-xs pull-left"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" >
                        <li><a href="#/notes"><i class="icon-file"></i> {{ i18n('All notes') }}</a></li>
                        <li><a href="#/notes/f/favorite"><i class="icon-star"></i>  {{ i18n('Favourites') }}</a></li>
                        <li><a href="#/notes/f/trashed"><i class="icon-trash"></i>  {{ i18n('Trash') }}</a></li>
                        <li><a href="#/notebooks"><i class="icon-book"></i>  {{ i18n('Notebooks') }}</a></li>
                        <li><a href="#/settings"><i class="icon-cog"></i>  {{ i18n('Settings') }}</a></li>
                        <li><a href="#/about"><i class="icon-help-circled"></i>  {{ i18n('About') }}</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#" class="btn sync-button">
                <span id="syncStatus" class="icon-arrows"></span>
            </a>
        </li>
    </ul>
    <a id="header-title" href="#{{ urlPage() }}" class="btn-link navbar-brand">
        {{ pageTitle() }} {{ pageNumber() }}
    </a>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#/notes/add" class="btn btn-danger addlink">
                <span class="icon-pencil"></span>
            </a>
        </li>
    </ul>
</nav>
<!-- List of notes here -->
<div class="ui-row ui-scroll-y ui-body">
    <form class="form-inline search-form" action="#" method="post">
        <div class="form-group">
            <span class="icon-search"></span>
        </div>
        <div class="form-group search-group">
            <input class="form-control search-input" type="text" id="search-input" placeholder="{{ i18n('Search') }}" value="{{ args.searchQuery }}" />
        </div>
    </form>

    <div class="main notes-list">
    </div>

    <nav class="navbar navbar-static-top navbar-bottom">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" id="prevPage" href="{{ pageUrl(args.prev) }}">{{ i18n('Previous') }}</a>
            <a class="btn btn-default" id="nextPage" href="{{ pageUrl(args.next) }}">{{ i18n('Next') }}</a>
        </div>
    </nav>
</div>
