<!-- List of notes here -->
<div class="list">
</div>

<% if (collection.state.totalPages > 1) { %>
<nav class="navbar navbar-static-bottom navbar-bottom list--pager" id="pageNav">
    <div class="btn-group btn-group-justified" role="button">
        <div class="btn-group">
            <button class="list--pager--btn btn btn-default<% if(!collection.hasPreviousPage()) { %> disabled<% } %>"
                type="button" id="prevPage">
                {{ i18n('Newer') }}
            </button>
        </div>
        <div class="btn-group">
            <button class="list--pager--btn btn btn-default<% if(!collection.hasNextPage()) { %> disabled<% } %>"
                type="button" id="nextPage">
                {{ i18n('Older') }}
            </button>
        </div>
    </div>
</nav>
<% } %>
