<div class="layout--body --scroll">
    <div class="list-group list-notebooks list--settings">
        <a class="list-group-item list--settings" href="#settings/general">
            <i class="icon-cog"></i>
            {{_.i18n('General')}}
        </a>
        <a class="list-group-item list--settings" href="#settings/editor">
            <i class="icon-pencil"></i>
            {{_.i18n('Editor')}}
        </a>
        <a class="list-group-item list--settings" href="#settings/keybindings">
            <i class="icon-indent"></i>
            {{_.i18n('Keybindings')}}
        </a>
        <a class="list-group-item list--settings" href="#settings/encryption">
            <i class="icon-lock"></i>
            {{_.i18n('Encryption')}}
        </a>
        <a class="list-group-item list--settings" href="#settings/sync">
            <i class="icon-arrows"></i>
            {{_.i18n('Sync')}}
        </a>

        <li class="list-group-item list--settings -disabled">{{_.i18n('Other')}}</li>
        <a class="list-group-item list--settings" href="#settings/importExport">
            <i class="icon-cog"></i>
            {{_.i18n('Backup')}}
        </a>
    </div>
</div>
