<div class="layout--body --scroll">
    <div class="list-group list-notebooks list--settings">
        <a class="list-group-item list--settings" href="#{{profileLink}}settings/general">
            <i class="icon-cog"></i>
            {{_.i18n('General')}}
        </a>
        <a class="list-group-item list--settings" href="#{{profileLink}}settings/editor">
            <i class="icon-pencil"></i>
            {{_.i18n('Editor')}}
        </a>
        <a class="list-group-item list--settings" href="#{{profileLink}}settings/keybindings">
            <i class="icon-indent"></i>
            {{_.i18n('Keybindings')}}
        </a>
        <a class="list-group-item list--settings" href="#{{profileLink}}settings/profiles">
            <i class="icon-notebook"></i>
            {{_.i18n('Profiles')}}
        </a>
        <a class="list-group-item list--settings" href="#{{profileLink}}settings/encryption">
            <i class="icon-lock"></i>
            {{_.i18n('Encryption')}}
        </a>
        <a class="list-group-item list--settings" href="#{{profileLink}}settings/sync">
            <i class="icon-arrows"></i>
            {{_.i18n('Sync')}}
        </a>

        <li class="list-group-item list--settings -disabled">{{_.i18n('Other')}}</li>
        <a class="list-group-item list--settings" href="#{{profileLink}}settings/importExport">
            <i class="icon-cog"></i>
            {{_.i18n('Transfer data')}}
        </a>
    </div>
</div>
