<div class="center-block">
    <header>
        <h3>{{i18n('Transfer settings')}}</h3>
    </header>

    <input id="import-file" class="hide" type="file">
    <button data-file="#import-file" id="do-import" type="button" class="btn btn-default btn-block btn--import">
        <i class="icon-cog"></i> {{ i18n('Import settings') }}
    </button>
    <button id="do-export" type="button" class="btn btn-default btn-block">
        <i class="icon-cog"></i> {{ i18n('Export settings') }}
    </button>
</div>

<div class="center-block">
    <header>
        <h3>{{i18n('Transfer everything')}}</h3>
    </header>

    <input id="import-data-file" class="hide" type="file">
    <button data-file="#import-data-file" id="import-data" type="button" class="btn btn-default btn-block btn--import">
        <i class="icon-note"></i> {{ i18n('Import data') }}
    </button>
    <button id="export-data" type="button" class="btn btn-default btn-block">
        <i class="icon-note"></i> {{ i18n('Export data') }}
    </button>
</div>
